<p id="notice"><%= notice %></p>

<p>
  <b>Start date:</b>
  <%= @event.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @event.end_date %>
</p>

<p>
  <b>Desc:</b>
  <%= @event.desc %>
</p>

<p>
  <b>Prizes:</b>
  <%= @event.prizes %>
</p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
